
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
node_modules/
temp/
#//////////////////////////
# NPM
#//////////////////////////
# node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/