ui-input {
    width: 100%;
    min-width: 100px;
    min-height: 30px;
    line-height: 30px;
}

ui-button {
    height: 30px;
}

ui-label {
    margin-top: 5px;
    margin-bottom: 5px;
}

.f {
    flex: 1;
    overflow: auto;
    padding: 10px;
}

.c {
    display: inline-flex;
    width: 100%;
    flex-wrap: nowrap;
}

.c ui-button {
    width: 40%;
}

.b {
    text-align: center;
    padding: 10px 0;
    margin-top: 5px;
}