<div id="r">
    <div class="f">
        <b><ui-label slot="label" :value="title"></ui-label></b><br>
        <div slot="content" class="c">
            <ui-label slot="label" style="width: 70px;">文件名：</ui-label>
            <ui-input autofocus @input="onInputName" :value="filename"></ui-input>
        </div>
    </div>
    <div class="f" v-if="showModule">
        <div slot="content" class="c">
            <ui-label slot="label" style="width: 70px;">模块名：</ui-label> <ui-input autofocus
                @input="onModuleName"></ui-input>
        </div>
    </div>
    <div class="b">
        <ui-button @confirm="onConfirm">确认</ui-button>
    </div>
</div>